@import "tailwindcss";

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.main-bg-color {
    background: #171717;
}

.btn-main{
    background: #111111;

    :hover {
        background: #171717;
    }
}