@import "tailwindcss";

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.main-bg-color {
    background: #171717;
}

.btn-main{
    background: #111111;

    :hover {
        background: #171717;
    }
}

/* styles.css */
.bg-gradient-custom {
    background: linear-gradient(180deg, transparent 50%, black 100%);
    inset: 0;
    position: absolute;
}