@import "tailwindcss";

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.main-bg-color {
    background: #171717;
}

.btn-main{
    background: #111111;

    :hover {
        background: #171717;
    }
}

/* styles.css */
.bg-gradient-custom {
    background: linear-gradient(180deg, transparent 50%, #111111 100%);
    inset: 0;
    position: absolute;
}


.border-top-line {
    margin-top: 6.25em;
    margin-bottom: 3.75em;
    border-top: 0.1em dashed transparent;

    border-image: repeating-linear-gradient(
            to right,
            #481216 0,
            #481216 14px,   /* длина штриха */
            transparent 14px,
            transparent 25px /* расстояние между ними */
    ) 100% 1;

}

.standup_card {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(17, 17, 17, 0.85);
    transition: inherit;
}

.spacing {
    letter-spacing: 0.4rem;
    writing-mode: vertical-rl;
}

.tour-bg-img {
    background: url("/home/vertbo/ticketApp/frontend/public/img/tour/date-bg.png") no-repeat;
}

.card-shadow {
    box-shadow: rgb(10, 10, 10) 0 4px 32px 0;
}

.card-description-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: "title1 title2 title3 title4";
    white-space: nowrap;
    column-gap: 50px;
}

.grid-text{
    grid-column: span 4;
    line-height: 1.4;
    white-space: initial;
}

.title1 { grid-area: title1; }
.title2 { grid-area: title2; }
.title3 { grid-area: title3; }
.title4 { grid-area: title4; }


@keyframes floatUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-floatUp {
  animation: floatUp 0.8s ease-out forwards;
}
